.main-registro
{
  min-height: 95vh;
  padding: 5%;
}
.formulario-registro
{
  display: flex;
  justify-content: center;
}
::placeholder
{
  text-align: left;
}
.formu-grupo
{
  padding: 3%;
}
.form-group
{
  padding: 2%;
}
